@media only screen and (max-width: 1024px){
    #hero{
        padding: 100px 100px;
    }
    #service .col-12 p{
        padding: 25px 100px;
    }
    #service .service-list{
        margin: 40px 0px;
    }
    #service .service-list h3{
        font-size: 22px;
    }
    #service .service-list p{
        font-size: 12px;
    }
    #service .client-list{
        padding: 0;
        margin-top: 50px;
    }
}
@media only screen and (max-width: 768px){
    #navbarNav .navbar-nav{
        text-align: center;
        margin-top: 50px;
    }
    #hero h4{
        font-size: 14px;
    }
    #hero h1{
        font-size: 42px;
        line-height: 48px;
    }
    #hero p{
        padding: 0px 70px;
    }
}